#divv{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
}
.content{
    color:red;

}
.newclass{
    background-color: yellow;
    
}